@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200&display=swap');



body {
  font-family: 'Antonio', sans-serif;
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}
